/vendor
/node_modules
.env
/storage/*.key
/public/hot
/public/storage
/storage/*.sqlite
/storage/*.sqlite-journal
/.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/